.img {
    height: 65px;
    width: 100px;
}
.a{
    
    text-decoration: none;
    color: #000;
}
.container{
    display: flex;
    max-height: 70px;
   cursor: pointer;
    align-items: center;
    /* max-width: 300px; */
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #e4e2e2);
    box-shadow:  10px 10px 15px #bebebece,
                 -10px -10px 10px #ffffff;
}

.container:active{
    scale: 0.1;
}


.text{
    padding: 10px;
    width: auto;
}

@media (max-width: 1200px) {
    .img {
      display: none;
    }

    .container{
        max-height: 50px;
    }
    .text{
     font-size: 12px;
    }
}