.div-nav-container {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  background: #ffffff85;
  backdrop-filter: saturate(1%) blur(5px);
  margin: 0;
  top: 0;
  z-index: 4;
  left: 0;
  position: sticky;
  box-shadow: -1px 1px 20px #b8b8b8, 0px 0px 0px #ffff;
  justify-content: space-around;
}
.div-nav {
  display: flex;
  height: 80px;
  gap: 20px;
  width: 70%;
  align-items: center;
  background: #ffffff00;
  position: inherit;
  border: none;
  backdrop-filter: saturate(1%) blur(px);
  margin: 0;
  z-index: 4;
  top: 0;
  left: 0;
  position: sticky;
}

.mi-carita-nav {
  height: 40px;
  width: 40px;
}
.mi-carita-div {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: center;
}

.Link {
  color: #676868;
  font-size: 16px;
  font-family: Work Sans;
  text-decoration: none;
  padding: 10px;
  margin: auto;
}

.Link:hover {
  color: #d17f6d;
}

.Link:active {
  box-shadow: 0px 1px 1px #d17f6d, 0px 0px 0px #ffffff;
}

.header-nav {
  display: flex;
  font-family: Work Sans;
  font-weight: 200;
  font-size: 20px;
  display: none;
  align-items: center;
}

.h1-name-nav {
  font-family: Work Sans;
  font-weight: 500;
  font-size: 30px;
  padding: 10px;
}

.burguer-menu {
  display: none;
}

@media (max-width: 700px) {
  .burguer-menu {
    height: auto;
    width: 100px;
    display: flex;
  }
  .header-nav {
    display: flex;
    font-family: Work Sans;
    font-weight: 200;
    font-size: 10px;
    align-items: center;
  }

  .h1-name-nav {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 12px;
    padding: 10px;
  }
  .div-nav {
    display: flex;
    height: 80px;
    width: 50%;
    align-items: center;
    background: #ffffff00;
    position: inherit;
    border: none;
    backdrop-filter: saturate(1%) blur(px);
    margin: 0;
    z-index: 4;
    top: 0;
    left: 0;
    position: sticky;
    justify-content: space-between;
  }
  .Link {
    display: none;
  }
  .mi-carita-nav {
    display: none;
  }
  .p-name-nav{
    display: none;
  }
}

@media (max-width: 500px) {
  .p-name-nav{
    display: none;
  }
  .profile-img {
    height: 80vh;
    width: auto;
    background: transparent;
    position: relative;
  }

  .burguer-menu {
    height: auto;
    width: 100px;
    display: flex;
    justify-content: center;
  }
  .Link {
    display: none;
  }
  .mi-carita-nav {
    display: none;
  }
  .header-nav {
    display: flex;
    font-family: Work Sans;
    font-weight: 200;
    font-size: 10px;
    align-items: center;
  }

  .h1-name-nav {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 12px;
    padding: 10px;
  }
}


