/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.App{
  display: flex;
  flex-direction: row-reverse;
}
.back-crema{
height: 100vh;
width: 100vh;
z-index: 1;
display: flex;
background: #e9e1d8;

}