:root {
  overflow-x: hidden;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(207,219,201);
  background: linear-gradient(90deg, rgba(207,219,201,1) 53%, rgba(255,255,255,1) 53%);

}


@media (max-width: 700px) {
  :root {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #e8e1d9; */
  }
}

@media (max-width: 500px) {
  :root {
    overflow-x: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #e8e1d9; */
  }
}
